body {
  background-color: mintcream;
  padding: 0;
  margin: 0;
  text-align: center;
  color: darkslategray;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

main {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

table {
  margin: 1em 0;
  font-size: smaller;
  border-collapse: collapse;
  box-shadow: 4px 4px 4px #0070f3;
}

thead th {
  background-color: darkslategray;
  font-weight: normal;
  padding: 0.25em 0.2em;
  color: mintcream;
}
tbody th {
  text-align: left;
}
table button {
  background-color: transparent;
  text-decoration: underline;
  font-weight: inherit;
  color: inherit;
  padding: 0.2em 0 0;
  margin: 0;
}

td {
  text-align: right;
  min-width: 2em;
  padding: 0.2em 0.2em;
}

input {
  margin-right: 0.75em;
  padding: 0.3em 0;
  border-radius: 0.75em;
  border: 2px solid #0070f3;
  text-align: center;
  color: #0070f3;
  width: 9em;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  border: none;
  color: mintcream;
  margin: 1em 0;
  border-radius: 0.75em;
  padding: 0.5em 2em;
  background-color: #0070f3;
}
button:hover {background-color: silver;}

caption {
  font-size: larger;
  font-weight: bold;
  padding: 0.3vh 0;
}

p {font-size: small; color: gray;}

h2 {margin: 1vh; }
h4 {margin: 0; font-weight: normal;}