body {
  background-color: mintcream;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

main {
  min-height: 100vh;
  /* padding: 4rem 0; */
  /* flex: 1; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #0070f3;
}

table {
  margin: 1em 0;
  max-height: 80vh; overflow: auto;
  font-size: smaller;
  border-collapse: collapse;
}

thead th {
  border-bottom: 1px solid #0070f3;
  padding: 0.25em 0.2em;
}

table button {
  background-color: transparent;
  text-decoration: underline;
  font-weight: inherit;
  color: inherit;
  padding: 0.2em 0 0;
  margin: 0;
}

td {
  text-align: right;
  min-width: 2em;
  padding: 0.2em 0.2em;
}

input {
  margin-right: 0.75em;
  padding: 0.3em 0;
  border-radius: 0.75em;
  border: 2px solid #0070f3;
  /* font-size: 1.1em; */
  text-align: center;
  color: #0070f3;
  width: 9em;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  border: none;
  color: azure;
  margin: 1em 0;
  border-radius: 0.75em;
  padding: 0.5em 2em;
  background-color: #0070f3;
}
button:hover {background-color: silver;}

p {
  color: grey;
  font-size: small;
  text-align: center;
}

h3 {margin: 0;}
h4 {margin: 0;}